<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Über Uns</title>
    <style>
h1, h2, h4, a {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 250px;
    margin-inline-end: 0px;
    font-weight: bold;
}
    </style>
</head>
<body>
<h1> Über Uns </h1>
 <p>
<h2>Herzlich Willkommen bei Webseite</h2> <br>
<h4>Suchen Sie leckere Rezepte? Möchten Sie Freunde und Familie mit einem köstlichen Dinner verwöhnen?<br>
 Dann ist unsere Rezeptsuche genau das Richtige für Sie. <br>
     Hier finden Sie über viele Rezepte: mit Gemüse, Fisch und Fleisch, vegetarisch , vegan, für Desserts und Kuchen.<br>
Wir unterstützen Sie auch bei einer gesunden ausgewogenen Ernährung. <br>
Denn frische und saisonale Zutaten sind uns bei der Zubereitung besonders wichtig!
Das Tolle an unseren Rezepten: Sie sind gelingsicher – schließlich kochen die Köche jedes Rezept drei Mal nach, bevor wir es veröffentlichen. <br>So garantieren wir, dass alle Gerichte auch bei Ihnen zu Hause schmecken.<br>
Für »essen & trinken Für jeden Tag« hat außerdem der berühmte TV-Koch Tim Mälzer in unserer Küche wunderbare Rezepte für den Alltag entwickelt.
Und nicht zuletzt zeigen unsere informativen Videos und Schritt-für-Schritt-Fotoanleitungen in der Koch- und Backschule, wie beliebte Klassiker und raffinierte Gerichte einfach gelingen.<br>
    Wir wünschen viel Spaß beim Stöbern, Entdecken, Kochen, Backen und Genießen!</h4></p>

<a href="#"> <img class ="foto"
                  src= "/media/1680.png" alt="" width="175px"></a>

</body>
</html>
